* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #0b0f6b, #2c3cff);
  min-height: 100vh;
  color: #333;
  display: flex;
  flex-direction: row;
}

.left {
    width: 30%;
    background: #0b0f6b;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    text-align: center;
}

.logo h1 {
    font-size: 60px;
    font-weight: bold;
}

.logo p {
    font-size: 18px;
}

.footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
    font-size: 14px;
    opacity: 0.8;
}

.right {
  width: 70%;
  background: #8db3b3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  min-height: 100vh;
  overflow-y: auto;
}

.navbar {
  background: #0b0f6b;
  padding: 15px 0;
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.navbar button {
  background: #0b0f6b;
  color: white;
  border: none;
  padding: 0px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar button:hover {
  background: #2c3cff;
}

.section {
  display: none;
  padding: 20px 0;
  padding-top: 5%;
}

.section.active {
  display: block;
}

.login {
  max-width: 350px;
  margin: 50px auto;
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login h2 {
  margin-bottom: 20px;
  color: #0b0f6b;
}

.main {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  padding: 25px;
  border-radius: 20px;
  width: 400px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.box h2 {
  margin-bottom: 15px;
  color: #ffffff;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.mainbutton {
  background: #0b0f6b;
  color: white;
  width: 100%;
  margin-top: 10px;
}

.altbutton {
  background: #444;
  color: white;
  width: 100%;
  margin-top: 5px;
}

.mainbutton:hover {
  background: #2c3cff;
}

#manage {
  background: linear-gradient(to bottom, #ff3c3c 0%, #ffffff 60%);
}

#records {
  background: linear-gradient(to bottom, #2c3cff 0%, #ffffff 60%);
  padding: 25px;
  border-radius: 20px;
  width: max-content;
  min-width: 400px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
}

#records .table {
  margin-top: 10px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: auto;
}

#records .table::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

#records .table::-webkit-scrollbar-track {
  background: #8db3b3;
}

#records .table::-webkit-scrollbar-thumb {
  background: #0b0f6b;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 14px;
  text-align: center;
}

th {
  background: #0b0f6b;
  color: white;
}
